# archive
archive/
blurbs/
target/

# tex
*.aux
*.lof
*.log
*.lot
*.out
*.toc
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.spl
*.synctex
*.synctex.gz
*.synctex.gz
*.nav
*.brf
*.dvi
*.snm
*.vrb
*-converted-to.pdf
